.movie-card {
  background-image: radial-gradient(circle at 50% -20.71%, #fe8f62 0, #ff8564 8.33%, #ff7967 16.67%, #ff6c6b 25%, #fd5e6e 33.33%, #f84e73 41.67%, #f23c78 50%, #ea287e 58.33%, #e10e86 66.67%, #d6008f 75%, #ca0098 83.33%, #bb00a3 91.67%, #aa00ae 100%);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 15px;
  padding: 2rem 4rem;
}

.mat-card {
  background-color: rgba(255, 255, 255, 0.799);
  align-items: center;
  margin: 2em;
  padding: 1em;
}